/*-----------FUENTES-------------*/


/*Base*/

* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.bac-color {
  background-color: rgb(240, 240, 240);
}

/* --------------HEADER--------------- */

header nav a h1 {
  justify-content: center;
  padding: 3%;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

header a {
  color: inherit;
}

header ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  font-size: 1.5rem;
}

header nav {
  background-color: black;
  color: white;
}

.navbar {
  justify-content: space-evenly;
}

/*-----------PROMOCIONES DEL INICIO-----------------*/

.carousel-item img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  overflow: hidden;
}



/* --------------------- PRODUCTOS EN GENERAL --------------- */

h2 {
  padding: 2rem;
  margin: 0;
}

/* Contenedor de promos general */
.contenedor-producto {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
}

/* Contenedor de cada producto en promoci贸n*/
.producto {
  background-color: white;
  border-radius: 10%;
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 3%;
}

/* Imagen de producto en promoci贸n */
.producto img {
  width: 80%;
}

/*Info de producto*/

.producto div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ---------------SOBRE NOSOTROS Y HORARIO -----------------*/

.sobre-nos-hora {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

.cont-tarjetas {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 70%;
  max-width: 200px;
  margin: 1rem;
}

/*---------------UBICACION---------------*/

/* Mapa de Google con la ubicaci贸n*/
.mapa {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  padding: 0;
}

/* ---------------- FOOTER ---------------*/

footer a {
  text-decoration: none;
  color: white;
}

.footer-cont {
  background-color: black;
  color: white;
  display: grid;
  height: 40%;
  width: 100%;
  padding: 2%;
}

.footer-info {
  padding: 1%;
}

footer h3 {
  font-size: 1rem;
}

footer p {
  font-size: 0.8rem;
}
footer ul {
  font-size: 0.8rem;
}


/* ----------- RESPONSIVE ----------------*/
/*Celular*/
@media(min-width:768px) and (orientation:landscape) {

  /*Barra de navegaci贸n*/
  .navbar {

    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  header nav a h1 {
    font-size: 6rem;
  }

  .navbar ul li {
    font-size: 1.1rem;
    display: flex;
    width: 125px;
    flex-direction: row;
    justify-content: space-around;
  }

  /*Carusel*/
  .carousel-item img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    overflow: hidden;
  }

  /*Productos y sus contenedores*/
  .contenedor-producto {
    height: 50%;
    flex-direction: row;
    padding-bottom: 3%;
  }

  .producto {
    height: 90%;
    width: 30%;
    padding: 1%;
    margin: 1%;
  }

  /*Sobre Nosotros*/
  .cont-tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .card {
    justify-self: center;
    align-self: center;
  }

  /*Footer*/
  .footer-cont {

    grid-template-rows: 100%;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-evenly;
    align-items: center;
  }



}

/*Tablet*/

@media(min-width:1024px) {

  .cont-tarjetas {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }

  .card {
    justify-self: center;
    align-self: center;
  }


}