* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.bac-color {
  background-color: rgb(240, 240, 240);
}

h2 {
  padding: 2rem;
  margin: 0;
}

.btn {
  background-color: black;
  border-color: black;
  color: white;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
}

.navbar-nav {
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  font-size: 1.5rem;
}

/*Tablet*/
@media (min-width: 768px) {
  h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 4rem;
  }
  .container-fluid {
    flex-direction: column;
  }
  .navbar-nav {
    grid-template-columns: repeat(6, 1fr);
    font-size: 1.5rem;
  }
}
.articulos {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.articulos .card {
  width: 90%;
  max-width: 300px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.articulos .card-img-top {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  overflow: hidden;
}
.articulos .card-sec-title {
  font-size: 1.1rem;
  color: grey;
}
.articulos .card-text {
  height: 100px;
  object-fit: cover;
  overflow: hidden;
  text-align: justify;
}
.articulos .card-title {
  height: 4rem;
  font-size: 1.2rem;
  object-fit: cover;
  overflow: hidden;
}

/*Tablet*/
@media (min-width: 768px) {
  .articulos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .card {
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
  }
}
@media (min-width: 992px) {
  .articulos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
footer a {
  color: white;
}
footer h3 {
  font-size: 1rem;
}
footer p {
  font-size: 0.8rem;
}
footer ul {
  font-size: 0.8rem;
}

.footer {
  background-color: black;
  width: 100%;
}
.footer-cont {
  background-color: black;
  color: white;
  display: grid;
  height: 40%;
  width: 100%;
  padding: 2%;
}
.footer-info {
  padding: 1%;
  align-self: center;
}

@media (min-width: 576px) {
  .footer-cont {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .footer-cont {
    grid-template-columns: repeat(4, 1fr);
  }
}
.contacto {
  display: flex;
  flex-direction: column;
}
.contacto-seccion {
  display: flex;
  padding-bottom: 6%;
  flex-direction: column;
}
.contacto-mapa {
  object-fit: cover;
  width: 100%;
}

@media (min-width: 576px) {
  .contacto-seccion {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contacto-seccion h3 {
    grid-column: span 2;
  }
  .contacto-seccion-horario {
    grid-column: span 2;
  }
  .consulta {
    grid-row: span 4;
  }
  .contacto-boton {
    grid-column: span 2;
  }
}
@media (min-width: 992px) {
  .contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contacto-seccion h3 {
    text-align: left;
    padding: 1.5rem;
  }
  .contacto-seccion div {
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5 rem;
  }
  .contacto-seccion div p {
    text-align: left;
  }
  .contacto-seccion div input {
    text-align: left;
  }
  .contacto-seccion div textarea {
    text-align: left;
  }
  .contacto-boton {
    justify-self: center;
  }
  .contacto-mapa {
    overflow: hidden;
  }
}
.carousel-item img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  overflow: hidden;
}

.carousel-caption a {
  color: white;
}

.sobre-nos-hora {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

.mapa {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  padding: 0;
}

.agenda {
  display: grid;
}
.agenda div {
  padding: 2%;
}
.agenda-2 {
  padding: 3%;
}
.agenda-3 {
  padding: 3%;
}

@media (min-width: 576px) {
  .agenda {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .agenda-title {
    grid-column: span 2;
  }
  .agenda-boton {
    grid-column: span 2;
  }
  .agenda div {
    padding: 3%;
    align-self: center;
  }
}
@media (min-width: 768px) {
  .pelu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .agenda-3 {
    grid-column: span 2;
  }
}
.title {
  padding-top: 3%;
}

/*# sourceMappingURL=styles.css.map */
