* {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .bac-color {
    background-color: rgb(240, 240, 240);
  }

  h2 {
    padding: 2rem;
    margin: 0;
  }

  .btn {
    background-color: black;
    border-color: black;
    color: white;
  }

  
