* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.bac-color {
  background-color: rgb(240, 240, 240);
}

h1 {
  font-size: 1.5rem;
  padding: 2rem;
  margin: 0;
}

h2{
  font-size: 1.3rem;
  padding: 1.5rem;
  margin: 0;
}

h3{
  font-size: 1.1rem;
}

.btn {
  background: radial-gradient(grey, black);
  border: black;
  color: white;
}

.btn:hover {
  background: radial-gradient(black, grey);
}

.invisible{
  clip: rect(0 0 0 0);
  border: 0;
  clip-path: inset(50%);
  display: block;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  position: absolute;
}

.texto-justificado{
  text-align:justify;
}

$capt: white;
$fhcb: black;
$carr: rgb(156, 156, 156);
$borde: 1px 1px 0 $carr, 1px -1px 0 $carr, -1px 1px 0 $carr, -1px -1px 0 $carr, 1px 0px 0 $carr, 0px 1px 0 $carr, -1px 0px 0 $carr, 0px -1px 0 $carr;
$bor-sol: solid 1px rgb(188, 188, 188);
$bc:rgb(240, 240, 240);
