.title{
    padding-top: 3%;
}

.articulos{
    .card-img-ex{
        width: 100%;
        height: 45vh;
        object-fit: cover;
        overflow: hidden;
      }

      &-extras{
        padding-top: 1rem;
        padding-bottom: 2rem;
      }
}
