$carr: rgb(156, 156, 156);
$borde: 1px 1px 0 $carr, 1px -1px 0 $carr, -1px 1px 0 $carr, -1px -1px 0 $carr, 1px 0px 0 $carr, 0px 1px 0 $carr, -1px 0px 0 $carr, 0px -1px 0 $carr;

.carousel-item img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    overflow: hidden;
  }

  .carousel-caption{
    
    a{
      color: $capt;
      text-shadow: $borde;
    }

    p{
      color: $capt;
      text-shadow: $borde;

    }
  }

  .sobre-nos-hora {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .mapa {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    padding: 0;
  }

  