

.carousel-item img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  overflow: hidden;
}

.carousel-caption {

  a {
    color: $capt;
    text-shadow: $borde;
  }

  p {
    color: $capt;
    text-shadow: $borde;

  }
}

.destacados{
  background: radial-gradient(rgb(196, 196, 196), $bc);
  padding-top: 1.5rem;
}

.sobre-nos-hora {
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  border-top: $bor-sol;

  h3 {
    padding: 4%;
  }
}

.ubi {
  border-top: $bor-sol;

  .mapa {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    padding: 0;
  }
}

@media(min-width:576px) {

  .sobre-nos-hora {
    border: none;
  }

  .ubi{
    border: none;
  }

}

@media(max-width:576px){
  
  .carousel-caption p{
    display: none;
  }
}