
.filtros{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;

    div {
        text-align: left;
    }
}

.busqueda-carrito{
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.busqueda{
    margin: 0;
    padding: 1rem;
    grid-column: span 5;
}

.carrito{
    padding: 0;
    align-self: center;
    padding: 0.5rem;
    height: 100%;

    .btn{
        height: 90%;
        width: 30%;
    }
    }