

.sesion {
    display: flex;
    padding: 5%;
    flex-direction: column;

    div{
        padding: 2%;
        height: 100%;
    }
    &-2{
        padding: 3%;

    }

    &-3{
        padding: 3%;

        h3{
            text-align: left;
        }

        ul{
            list-style:circle;
        }

        ul li{
            text-align: left;
        }
    }
    
    & .check-sb {
        display: grid;
        grid-template-columns: repeat(6,1fr);

        & label {
            grid-column: span 5;
        }

        & input {
            height: 30px;
        }
    }

}




@media(min-width:576px) {

    .sesion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        div{
            text-align: left;
            
            input{
                text-align: left;
            }

        }

        .check-sb {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            text-align: center;
            & label{
                grid-column: span 5;
            }
            & input {
                max-width: 15px;
            }
        }

        h3 {
            grid-column: span 2;
            text-align: left;

        }

        &-boton {
            grid-column: span 2;
        }

        &-3 {
            padding-top: 7%;

            h3{
                text-align: left;
            }

            p{
                text-align: left;
            }

        }

        &-2{
            display: grid;

            & h3{
                align-self: center;
                grid-column: span 2;

            }

            & .enviar{
                grid-column: span 2;
            }
        }

        div{
            padding: 3%;
            align-self: center;
        }
    }
    
    .pass{
        grid-column: span 2;
    }

    .user{
        align-self: center;
        grid-column: span 2;
    }

}

@media(min-width:768px) {
    .pelu{
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .sesion{
        border-right: $bor-sol;

        &-3{
            padding-top: 3%;
            border-top: $bor-sol;
            grid-column: span 2;
        }
    }
}
