

footer{
  a {

    color: $capt;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

}
  
  .footer{
      background-color: $fhcb;
      width: 100%;

    &-cont {
      background-color: $fhcb;
      color: $capt;
      display: grid;
      height: 40%;
      width: 100%;
      padding: 2%;
    }

    &-info {
      padding: 1%;
    }
  }
  

  @media (min-width: 576px){

    .footer{

      &-cont{
        grid-template-columns: 1fr 1fr;
      }

      &-info{
        align-self: center;
      }
      
    }

  }

  @media(min-width: 768px){
    
    .footer{

      &-cont{
        grid-template-columns: repeat(4, 1fr);
      }

      &-info{
        align-self:flex-start;
      }

    }
  }

