footer{
  a {

    color: white;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  ul {
    font-size: 0.8rem;
  }
}
  
  .footer{
      background-color: black;
      width: 100%;

    &-cont {
      background-color: black;
      color: white;
      display: grid;
      height: 40%;
      width: 100%;
      padding: 2%;
    }

    &-info {
      padding: 1%;
      align-self: center;
    }
  }
  

  @media (min-width: 576px){
    .footer-cont{
      grid-template-columns: 1fr 1fr;
    }
  }

  @media(min-width: 768px){
    .footer-cont{
        grid-template-columns: repeat(4, 1fr);
      }
  }

