@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dancing+Script&family=Great+Vibes&family=Montserrat:ital,wght@0,100;0,400;0,500;1,400;1,700&family=Mr+Dafoe&family=Petit+Formal+Script&display=swap');

.navbar-brand{
  font-family: 'Petit Formal Script', 'Times new roman';
  font-size: 2.5rem;
}


.navbar-nav{
  display: grid;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
}

.offcanvas{
  height: 75vh;
  max-width: 60%;
  
}

@media (min-width: 768px){

  .navbar-brand{
    font-size: 4rem;
    padding: 2%;
  }
  .container-fluid{
    flex-direction: column;
  }

  .navbar-nav{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr, 1fr;
    font-size: 1.5rem;

    .nav-item .nav-link:hover{
      transform: scale(1.1);
    }
  }

  .offcanvas{
    max-width: none;
  }
  
  .sticky-top{
    position: static;
  }

  .busqueda{
    grid-column: span 2;
  }
}



