h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5rem;
}


.navbar-nav{
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  font-size: 1.5rem;
}

/*Tablet*/
@media (min-width: 768px){

  h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
  }
  .container-fluid{
    flex-direction: column;
  }

  .navbar-nav{
    grid-template-columns: repeat(6,1fr);
    font-size: 1.5rem;
  }


}

