
.articulos {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;

  .card {
    width: 90%;
    max-width: 300px;
    margin-top: 2%;
    margin-bottom: 2%;

    &-img-top {
      width: 100%;
      height: 45vh;
      object-fit: cover;
      overflow: hidden;
    }
  
    &-sec-title {
      font-size: 1.1rem;
      color: grey;
    }
  
    &-text {
      height: 100px;
      object-fit: cover;
      overflow: hidden;
      text-align: justify;
    }
  
    &-title {
      height: 4rem;
      font-size: 1.2rem;
      object-fit: cover;
      overflow: hidden;
    }

  }

  
}

/*Tablet*/
@media(min-width: 768px) {

  .articulos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 992px) {
  .articulos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}